body{
color:white;
background:rgb(7, 109, 20);
font-family: "faculty glyphic";serif
}

.chamada{
/* background:purple;
padding-botton:80 px;
padding-top: 80 px;
display:flex;
justify-content:center;
}